/* 판매자 목록 페이지 스타일 */
.yun-farmer-list-page {
    padding: 40px 5%;
    background-color: #f0f8f0; /* 부드러운 초록색 배경 */
  }
  
  .yun-farmer-list-page h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #388e3c; /* 자연적인 녹색 */
    margin-bottom: 40px;
  }
  
  /* 판매자 카드 리스트 */
  .yun-farmer-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
  }
  
  .yun-farmer-card {
    background-color: #ffffff;
    border-radius: 10%;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    width: 250px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px auto; /* 가로 중앙 정렬 */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* 세로 중앙 정렬 */
  }

  .yun-armer-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
  }
  
  /* 이미지 스타일 */
  .yun-farmer-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-color: #c8e6c9; /* 초록색 배경 */
  }
  
  /* 판매자 이름 */
  .yun-farmer-name {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #388e3c;
    margin-top: 10px;
  }
  
  /* 판매자 한줄 소개 */
  .yun-farmer-description {
    font-size: 1rem;
    color: #777;
    margin-top: 5px;
    padding: 10px;
    background-color: #f1f8e9;
    border-radius: 6px;
  }
  
  /* 모바일 반응형 */
  @media (max-width: 768px) {
    .farmer-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .farmer-list {
      grid-template-columns: 1fr;
    }
  }
  
  .yun-farmer-info {
    padding: 1rem;
    text-align: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 100%; /* 부모 요소의 높이에 맞게 세로 중앙 정렬 */
  }
  
  .yun-class{
    font-size: 36px;
  }

  .yun-image-preview-container{
  margin: 10px;
  width: 200px;
  height: 200px;
  border: 2px solid #ddd;
  border-radius: 10%;
}

.text-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;      /* 표시할 줄 수 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}